* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* Start Nav Bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}

.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.nav-bullets .bullet:hover .tooltip {
    display: block;
}

.nav-bullets .bullet .tooltip {
    background-color: var(--main-color);
    width: 120px;
    color: #FFF;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    pointer-events: none;
    user-select: none;
    display: none;
}

.nav-bullets .bullet .tooltip:before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* End Nav Bullets */

/* Start Landing Page */
.landing-page {
    height: 100vh;
    position: relative;
}

.landing-page .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    color: #FFF;
    position: relative;
    z-index: 2;
}

.header-area .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
}

.links-container .links {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.links-container ul li {
    list-style: none;
    margin-left: 10px;
}

.links-container ul li a {
    text-decoration: none;
    color: #FFF;
    transition: 0.3s;
}

.links-container ul li a:hover {
    color: var(--main-color);
}

.links-container .toggle-menu {
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 30px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border: none;
    visibility: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.links-container .toggle-menu span {
    background-color: #FFF;
    display: block;
    padding: 2px 0;
    width: 30px;
    height: 4px;
}

.landing-page .introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    z-index: 2;
    width: 95%;
}

.introduction-text h1 {
    font-size: 34px;
    margin: 0 0 12px;
}

.introduction-text p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}

.landing-page .introduction-text span {
    color: var(--main-color);
}

@media (max-width: 991px) {
    .landing-page .introduction-text {
        width: 90%;
    }

    .links-container .toggle-menu {
        visibility: visible;
    }

    .links-container .toggle-menu.specific {
        transform: rotate(-90deg);
        margin-top: -15px;
        justify-content: "space-between"
    }

    .header-area .links.open {
        background-color: #FFF;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }

    .header-area .links.open:before {
        content: '';
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        top: -20px;
        right: 10px;
    }

    .links-container .links {
        position: relative;
        display: none;
    }

    .links-container .links li:not(:last-child) {
        margin-bottom: 10px;
    }

    .links-container .links a {
        color: var(--main-color);
        font-weight: bold;
    }
}

/* End Landing Page */

/* Start About-Us Section */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-us .info-box {
    padding: 30px;
    flex: 1;
}

.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}

.about-us .info-box p {
    line-height: 1.8;
    color: #767676;
    margin: 0;
}

.about-us .image-box {
    text-align: center;
    flex: 1;
}

.about-us .image-box img {
    width: 250px;
}

@media (max-width: 991px) {
    .about-us {
        flex-direction: column;
        text-align: center;
    }
}

/* End About-Us Section */

/* Start SKills Section */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}

.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}

.skills .skill-box {
    background-color: #FFF;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    justify-content: flex-start;
}

.skills .skill-box .skill-name {
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}

.skills .skill-box .skill-progress {
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: all .5s;
}

/* End SKills Section */

/* Start Gallery Section */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.gallery h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
}

.gallery .images-box img {
    width: 240px;
    padding: 3px;
    background-color: #F6F6F6;
    border: 1px solid #CCC;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

/* Gallery Alert */
.alertImgs {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px;
    z-index: 1001;
}

.alertImgs img {
    max-width: 100%;
}

.alertSlide {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.alertImgs .alertBtn {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
    border-radius: 50%;
}

.alertImgs .alertText {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}

/* End Gallery Section */

/* Start Timeline Section */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}

.timeline .timeline-content {
    position: relative;
    display: grid;
}

.timeline .timeline-content::before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.timeline .timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #FFF;
    padding: 2px 5px;
    font-weight: bold;
}

.timeline .timeline-content .content {
    padding: 20px;
    background-color: #FFF;
    position: relative;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

.timeline .timeline-content .right {
    justify-self: right;
}

.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
    content: "";
    position: absolute;
    background-color: #FFF;
    border: 3px solid var(--main-color);
    top: 14px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    z-index: 1;
}

.timeline .timeline-content .right::before {
    left: -35px;
}

.timeline .timeline-content .left::before {
    right: -35px;
}

.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}

.timeline .timeline-content .content p {
    color: #666;
    margin: 0;
    line-height: 1.6;
}

.timeline .timeline-content .content::before {
    content: "";
    position: absolute;
    border: 14px solid;
    top: 10px;
}

.timeline .timeline-content .left .content::before {
    right: -25px;
    border-color: transparent transparent transparent white;
}

.timeline .timeline-content .right .content::before {
    left: -25px;
    border-color: transparent white transparent transparent;
}

@media (max-width: 767px) {

    .timeline .timeline-content .left,
    .timeline .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before {
        display: none;
    }

    .timeline .timeline-content .right::before,
    .timeline .timeline-content .left::before {
        display: none;
    }

}

/* End Timeline Section */

/* Start Features Section */
.features {
    padding-top: 50px;
    padding-bottom: 50px;
}

.features h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}

.features .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.features .feat-box {
    width: calc(100% / 3);
    text-align: center;
    margin-bottom: 40px;
}

.features .feat-box h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}

.features .feat-box h4:before {
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}

.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}

.features .feat-box img {
    width: 96px;
}

/* End Features Section */

/* Start Testimonials Section */
.testimonials {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.testimonials::before,
.testimonials::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
}

.testimonials::before {
    background-color: var(--main-color);
    left: 0;
}

.testimonials::after {
    background-color: #333;
    right: 0;
}

.testimonials .content {
    display: flex;
    gap: 10px;
}

.testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    position: relative;
    z-index: 2;
    margin: 0 0 30px;
}

.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(100% / 3);
    background-color: #FFF;
    padding: 20px;
}

.testimonials .ts-box>p {
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 15px;
    color: #707070;
    font-style: italic;
}

.testimonials .ts-box .person-info {
    display: flex;
}

.testimonials .ts-box .person-info img {
    border-radius: 50%;
    margin-right: 20px;
}

.testimonials .ts-box .person-info h4 {
    margin: 14px 0 10px;
}

.testimonials .ts-box .person-info p {
    color: #707070;
    margin: 0;
}

@media (max-width: 767px) {
    .testimonials .content {
        flex-direction: column;
    }

    .testimonials .ts-box {
        width: calc(100%);
    }
}

/* End Testimonials Section */

/* Start Contact Section */

.contact {
    min-height: 600px;
    background-image: url(../imgs/contact.png);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}

.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}

.contact .container {
    position: relative;
    z-index: 2;
}

.contact form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    margin: auto;
    gap: 20px;
}

.contact form .left {
    flex: 1;
}

.contact form .right {
    flex: 1;
}

.contact form input {
    height: 40px;
}

.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    background-color: rgba(218, 218, 218, 0.19);
}

.contact form textarea {
    height: 150px;
}

.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #FFF;
    cursor: pointer;
}

/* End Contact Section */

/* Start Footer Section */
.footer {
    background-color: #333;
    color: #EEE;
    padding: 20px;
    text-align: center;
}

/* End Footer Section */

/* Start Settings Box  */

.settings-box {
    position: fixed;
    top: 0;
    background-color: #FFF;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: .3s;
    border: 1px solid #EEE;
    left: -200px;
}

.settings-box.open {
    left: 0;
}

.settings-box .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

.settings-box .toggle-settings .fa-gear {
    width: 30px;
    padding: 8px 0px;
}

.fa-spin {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.settings-box .settings-container .option-box {
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    margin: 10px;
}

.settings-box .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}

.settings-box .option-box .colors-list li {
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #EEE;
}

.settings-box .option-box .colors-list li.active {
    border-color: #FFF;
}

.settings-box .option-box .colors-list li:first-child {
    background-color: #FF9800;
}

.settings-box .option-box .colors-list li:nth-child(2) {
    background-color: #E91E63;
}

.settings-box .option-box .colors-list li:nth-child(3) {
    background-color: #009688;
}

.settings-box .option-box .colors-list li:nth-child(4) {
    background-color: #03A9F4;
}

.settings-box .option-box .colors-list li:nth-child(5) {
    background-color: #4CAF50;
}

.settings-box .option-box h4 {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.settings-box .option-box .yes,
.settings-box .option-box .no {
    width: 50px;
    background-color: var(--main-color);
    color: #FFF;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    opacity: .5;
    user-select: none;
}

.d-none {
    display: none;
}

.settings-box .option-box span.active {
    opacity: 1;
}

.settings-box .reset-options {
    background-color: #F44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

/* End Settings Box  */

























/* Start Grid System */
@media (min-width: 576px) {

    /* Small Devices => Landscape Phones */
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    /* Medium Devices => Tablets */
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    /* Desktops */
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    /* Large Screens */
    .container {
        max-width: 1140px;
    }
}

/* End Grid System */

/* End Scrollbar settings */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* Start Scrollbar settings */